extends layout

block content
	if (!user)
		div(class='div-fondo')
			div(class="cont-login")
				h2 Necesitamos saber quién eres
					ul(class='lista-inicio-sesion')
						li
							a(href='auth/google', class='btn btn-block btn-social btn-google') Inicia sesión con Google
								span(class='fa fa-google')
						li
							p Si aún no tienes cuenta
								a(class='registro',href='#') ¡Regístrate ahora!
	else
		h1(class='saludo') Encantados de tenerte de nuevo #{user.name.split(" ")[0]}
		p(class='saludo') Ahora dinos, ¿qué gasto deseas anotar?
		div(class='container cont-form')
			form(action='/',method='post',role='form')
				div(class='form-group')
					div(class='row')
						div(class='col-xs-12 col-md-12')
							label(for='desc-gasto') Describe brevemente el gasto
							input(id='desc-gasto',name='descripcion', placeholder='Ejemplo: compra semanal en Mercadona',class='form-control')
				div(class='form-group')
					div(class='row')
						div(class='col-xs-12 col-md-4')
							div(class='form-group')
								label(for='cat-gasto') Asígnale una categoría
								select(id='cat-gasto',name='categoria', class='select-categoria form-control')
									option Sin categoría
						div(class='col-xs-6 col-md-4')
							label(for='fecha-gasto') ¿Cuándo ocurrió?
							input(id='fecha-gasto', name='fecha', type='date', class='form-control', placeholder='Fecha')
						div(class='col-xs-6 col-md-4')
							label(for='importe-gasto') ¿Qué importe tiene?
							input(id='importe-gasto', name='importe',class='form-control',placeholder='Importe (Ejemplo: 17,99)')
				div(class='form-group')
					div(class='row fila-boton')
						div(class='col-xs-12 col-md-12')
							button(type='submit',class='btn btn-warning btn-lg btn-nuevo', name='b-nuevo', value='nuevo') Guardar gasto
