doctype html
html
	head
		title=title
		script(type="text/javascript",src="../javascripts/jquery-3.1.1.min.js")
		link(rel='stylesheet',href='/stylesheets/style.css')
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

		<!-- Font awesome -->
		link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')

		<!-- Social bootstrap -->
		link(rel='stylesheet', href='/stylesheets/bootstrap-social.css')
	body
		block header
			if (user)
				header
					ul
						li
							div(class="marco-foto")
								img(src="#{user.photo}",class="foto-perfil")
						li  #{user.name}
						li
							a(href='logout', class='boton-salir') Salir
		section
			block content

		footer
			block footer
				ul
					li
						a(href="/privacy") Privacy
					p
						| jcgallardomorales@gmail.com | &copy; 2017 Todos los derechos reservados
